<link rel="stylesheet" href="/css/partials/header.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top py-2 border-bottom">
  <div class="container">

    <a class="navbar-brand fw-bold text-uppercase d-flex align-items-center gap-2" href="/">
      <img src="/imgs/logo.jpg" height="40" alt="Logo">
      Dung Vi
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase fw-semibold">

        <li class="nav-item">
          <a class="nav-link px-3" href="/">Trang chủ</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-3" href="/news">Tin tức</a>
        </li>

        {{#unless user}}
          <li class="nav-item">
            <a class="nav-link px-3" href="/user/login">Đăng nhập</a>
          </li>
        {{/unless}}

        {{#if user}}
          <li class="nav-item">
            <button class="btn btn-outline-dark ms-2"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#userOffcanvas">
              {{user.name}}
            </button>
          </li>
        {{/if}}

      </ul>
    </div>

  </div>
</nav>

{{#if user}}
<div class="offcanvas offcanvas-end text-bg-dark"
     tabindex="-1"
     id="userOffcanvas">

  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title">
      {{user.name}}
      <span class="badge bg-secondary text-uppercase ms-2">{{user.role}}</span>
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column gap-2">
    <a href="/logout" class="btn btn-danger w-100 mt-2">Đăng xuất</a>
  </div>

</div>
{{/if}}
