<link rel="stylesheet" href="/css/partials/header.css">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm sticky-top py-2 border-bottom">
  <div class="container">

    <a class="navbar-brand fw-bold text-uppercase d-flex align-items-center gap-2" href="/">
      <img src="/imgs/logo.jpg" height="40" alt="Logo">
      Dung Vi
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNav">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-uppercase fw-semibold">

        <li class="nav-item">
          <a class="nav-link px-3" href="/news">Tin tức</a>
        </li>

        <li class="nav-item">
          <a class="nav-link px-3" href="/ranking/year?year=2025">Bảng xếp hạng</a>
        </li>

        {{!-- Khi chưa đăng nhập --}}
        {{#unless user}}
          <li class="nav-item">
            <a class="nav-link px-3" href="/member/login">Đăng nhập</a>
          </li>
        {{/unless}}

        {{!-- Khi đã đăng nhập --}}
        {{#if user}}
          <li class="nav-item">
            <button class="btn btn-outline-dark ms-2"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#userOffcanvas">
              {{user.name}}
            </button>
          </li>
        {{/if}}

      </ul>
    </div>

  </div>
</nav>


{{!-- OFFCANVAS --}}
{{#if user}}
<div class="offcanvas offcanvas-end text-bg-dark"
     tabindex="-1"
     id="userOffcanvas">

  <div class="offcanvas-header border-bottom">
    <h5 class="offcanvas-title">
      {{user.name}}
      <span class="badge bg-secondary text-uppercase ms-2">{{user.type}}</span>
    </h5>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
  </div>

  <div class="offcanvas-body d-flex flex-column gap-2">

    {{!-- MEMBER --}}
    {{#if (eq user.type "Member")}}
      <a href="/member/achievements/add" class="btn btn-danger w-100">Thành tích</a>
      <a href="/member/profile" class="btn btn-danger w-100">Thông tin người dùng</a>
    {{/if}}

    {{!-- AUTHOR --}}
    {{#if (eq user.type "Author")}}
      <a href="/member/profile" class="btn btn-danger w-100">Thông tin người dùng</a>
      <a href="/author/stored/news" class="btn btn-danger w-100">Quản lý bài viết</a>
    {{/if}}

    {{!-- ADMIN --}}
    {{#if (eq user.type "Admin")}}
      <a href="/member/profile" class="btn btn-danger w-100">Thông tin người dùng</a>
      <a href="/author/stored/news" class="btn btn-danger w-100">Quản lý bài viết</a>
      <a href="/admin/users" class="btn btn-primary w-100">Quản lý người dùng</a>
    {{/if}}

    <a href="/logout" class="btn btn-light w-100 mt-3">Đăng xuất</a>

  </div>

</div>
{{/if}}
